<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roncoo.education.user.service.dao.impl.mapper.SvipBuyLogMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.roncoo.education.user.service.dao.impl.mapper.entity.SvipBuyLog">
            <id column="id" property="id" jdbcType="BIGINT"/>
            <result column="start_time" property="startTime" jdbcType="TIMESTAMP"/>
            <result column="due_time" property="dueTime" jdbcType="TIMESTAMP"/>
            <result column="user_no" property="userNo" jdbcType="BIGINT"/>
            <result column="nickname" property="nickname" jdbcType="VARCHAR"/>
            <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
        <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, start_time, due_time, user_no, nickname, mobile
    </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.roncoo.education.user.service.dao.impl.mapper.entity.SvipBuyLogExample">
        select
            <if test="distinct" >
                distinct
            </if>
            <include refid="Base_Column_List" />
        from svip_buy_log
            <if test="_parameter != null" >
                <include refid="Example_Where_Clause" />
            </if>
            <if test="orderByClause != null" >
                order by ${orderByClause}
            </if>
            <if test="limitStart >= 0" >
                limit ${limitStart} , ${pageSize}
            </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
            <include refid="Base_Column_List" />
        from svip_buy_log
        where
        id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from svip_buy_log
        where
        id = #{id,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByExample" parameterType="com.roncoo.education.user.service.dao.impl.mapper.entity.SvipBuyLogExample" >
        delete from svip_buy_log
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>
    <insert id="insert" parameterType="com.roncoo.education.user.service.dao.impl.mapper.entity.SvipBuyLog" >
        insert into svip_buy_log
        (
         id, start_time, due_time, user_no, nickname, mobile
        ) values (
            #{id,jdbcType=BIGINT},
            #{startTime,jdbcType=TIMESTAMP},
            #{dueTime,jdbcType=TIMESTAMP},
            #{userNo,jdbcType=BIGINT},
            #{nickname,jdbcType=VARCHAR},
            #{mobile,jdbcType=VARCHAR},
        )
    </insert>
    <insert id="insertSelective" parameterType="com.roncoo.education.user.service.dao.impl.mapper.entity.SvipBuyLog" >
        insert into svip_buy_log
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="startTime != null" >
                start_time,
            </if>
            <if test="dueTime != null" >
                due_time,
            </if>
            <if test="userNo != null" >
                user_no,
            </if>
            <if test="nickname != null" >
                nickname,
            </if>
            <if test="mobile != null" >
                mobile,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="startTime != null" >
                #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="dueTime != null" >
                #{dueTime,jdbcType=TIMESTAMP},
            </if>
            <if test="userNo != null" >
                #{userNo,jdbcType=BIGINT},
            </if>
            <if test="nickname != null" >
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null" >
                #{mobile,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.roncoo.education.user.service.dao.impl.mapper.entity.SvipBuyLogExample" resultType="java.lang.Integer" >
        select count(*) from svip_buy_log
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map" >
        update svip_buy_log
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.startTime != null" >
                start_time = #{record.startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.dueTime != null" >
                due_time = #{record.dueTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.userNo != null" >
                user_no = #{record.userNo,jdbcType=BIGINT},
            </if>
            <if test="record.nickname != null" >
                nickname = #{record.nickname,jdbcType=VARCHAR},
            </if>
            <if test="record.mobile != null" >
                mobile = #{record.mobile,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByExample" parameterType="map" >
        update svip_buy_log
        set
            id = #{record.id,jdbcType=BIGINT},
            start_time = #{record.startTime,jdbcType=TIMESTAMP},
            due_time = #{record.dueTime,jdbcType=TIMESTAMP},
            user_no = #{record.userNo,jdbcType=BIGINT},
            nickname = #{record.nickname,jdbcType=VARCHAR},
            mobile = #{record.mobile,jdbcType=VARCHAR},
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.roncoo.education.user.service.dao.impl.mapper.entity.SvipBuyLog" >
        update svip_buy_log
        <set >
                <if test="startTime != null" >
                    start_time = #{startTime,jdbcType=TIMESTAMP},
                </if>
                <if test="dueTime != null" >
                    due_time = #{dueTime,jdbcType=TIMESTAMP},
                </if>
                <if test="userNo != null" >
                    user_no = #{userNo,jdbcType=BIGINT},
                </if>
                <if test="nickname != null" >
                    nickname = #{nickname,jdbcType=VARCHAR},
                </if>
                <if test="mobile != null" >
                    mobile = #{mobile,jdbcType=VARCHAR},
                </if>
        </set>
        where
                id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.roncoo.education.user.service.dao.impl.mapper.entity.SvipBuyLog" >
        update svip_buy_log
        set
                start_time = #{startTime,jdbcType=TIMESTAMP},
                due_time = #{dueTime,jdbcType=TIMESTAMP},
                user_no = #{userNo,jdbcType=BIGINT},
                nickname = #{nickname,jdbcType=VARCHAR},
                mobile = #{mobile,jdbcType=VARCHAR},
        where
        id = #{id,jdbcType=BIGINT}
  </update>
</mapper>