<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roncoo.education.user.service.dao.impl.mapper.UserLogInviteMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.roncoo.education.user.service.dao.impl.mapper.entity.UserLogInvite">
            <id column="id" property="id" jdbcType="BIGINT"/>
            <result column="invite_user_no" property="inviteUserNo" jdbcType="BIGINT"/>
            <result column="invited_user_no" property="invitedUserNo" jdbcType="BIGINT"/>
            <result column="status" property="status" jdbcType="TINYINT"/>
            <result column="add_time" property="addTime" jdbcType="TIMESTAMP"/>
        </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
        <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, invite_user_no, invited_user_no, status, add_time
    </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.roncoo.education.user.service.dao.impl.mapper.entity.UserLogInviteExample">
        select
            <if test="distinct" >
                distinct
            </if>
            <include refid="Base_Column_List" />
        from user_log_invite
            <if test="_parameter != null" >
                <include refid="Example_Where_Clause" />
            </if>
            <if test="orderByClause != null" >
                order by ${orderByClause}
            </if>
            <if test="limitStart >= 0" >
                limit ${limitStart} , ${pageSize}
            </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
            <include refid="Base_Column_List" />
        from user_log_invite
        where
        id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from user_log_invite
        where
        id = #{id,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByExample" parameterType="com.roncoo.education.user.service.dao.impl.mapper.entity.UserLogInviteExample" >
        delete from user_log_invite
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>
    <insert id="insert" parameterType="com.roncoo.education.user.service.dao.impl.mapper.entity.UserLogInvite" >
        insert into user_log_invite
        (
         id, invite_user_no, invited_user_no, status, add_time
        ) values (
            #{id,jdbcType=BIGINT},
            #{inviteUserNo,jdbcType=BIGINT},
            #{invitedUserNo,jdbcType=BIGINT},
            #{status,jdbcType=TINYINT},
            #{addTime,jdbcType=TIMESTAMP},
        )
    </insert>
    <insert id="insertSelective" parameterType="com.roncoo.education.user.service.dao.impl.mapper.entity.UserLogInvite" >
        insert into user_log_invite
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="inviteUserNo != null" >
                invite_user_no,
            </if>
            <if test="invitedUserNo != null" >
                invited_user_no,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="addTime != null" >
                add_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="inviteUserNo != null" >
                #{inviteUserNo,jdbcType=BIGINT},
            </if>
            <if test="invitedUserNo != null" >
                #{invitedUserNo,jdbcType=BIGINT},
            </if>
            <if test="status != null" >
                #{status,jdbcType=TINYINT},
            </if>
            <if test="addTime != null" >
                #{addTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.roncoo.education.user.service.dao.impl.mapper.entity.UserLogInviteExample" resultType="java.lang.Integer" >
        select count(*) from user_log_invite
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map" >
        update user_log_invite
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.inviteUserNo != null" >
                invite_user_no = #{record.inviteUserNo,jdbcType=BIGINT},
            </if>
            <if test="record.invitedUserNo != null" >
                invited_user_no = #{record.invitedUserNo,jdbcType=BIGINT},
            </if>
            <if test="record.status != null" >
                status = #{record.status,jdbcType=TINYINT},
            </if>
            <if test="record.addTime != null" >
                add_time = #{record.addTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByExample" parameterType="map" >
        update user_log_invite
        set
            id = #{record.id,jdbcType=BIGINT},
            invite_user_no = #{record.inviteUserNo,jdbcType=BIGINT},
            invited_user_no = #{record.invitedUserNo,jdbcType=BIGINT},
            status = #{record.status,jdbcType=TINYINT},
            add_time = #{record.addTime,jdbcType=TIMESTAMP},
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.roncoo.education.user.service.dao.impl.mapper.entity.UserLogInvite" >
        update user_log_invite
        <set >
                <if test="inviteUserNo != null" >
                    invite_user_no = #{inviteUserNo,jdbcType=BIGINT},
                </if>
                <if test="invitedUserNo != null" >
                    invited_user_no = #{invitedUserNo,jdbcType=BIGINT},
                </if>
                <if test="status != null" >
                    status = #{status,jdbcType=TINYINT},
                </if>
                <if test="addTime != null" >
                    add_time = #{addTime,jdbcType=TIMESTAMP},
                </if>
        </set>
        where
                id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.roncoo.education.user.service.dao.impl.mapper.entity.UserLogInvite" >
        update user_log_invite
        set
                invite_user_no = #{inviteUserNo,jdbcType=BIGINT},
                invited_user_no = #{invitedUserNo,jdbcType=BIGINT},
                status = #{status,jdbcType=TINYINT},
                add_time = #{addTime,jdbcType=TIMESTAMP},
        where
        id = #{id,jdbcType=BIGINT}
  </update>
</mapper>